/target/
/.mvn/
mvnw
mvnw.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### 项目相关的忽略规则 ###
/rtdcache/
/log/
/src/test/
/src/main/java/com/zhcs/agv/test/
/src/main/resources/static/test/
src/main/resources/wsdl/cc.wsdl
/doc/
/invoice/

